<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Fake News Detection System</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <body onload="checkNews()">
        <section id="check">
            <p id="result"></p>
            You have entered: {{ result }} <br><br><br>
            The given statement is : {{ op }} <br><br>
            Truth probabilty : {{ score }}
            <br><br><br>
            <div id="mainbar">
            <div class="bar" id="1"></div>
            <div class="bar" id="2"></div>
            <div class="bar" id="3"></div>
            <div class="bar" id="4"></div>
            <div class="bar" id="5"></div>
            <div class="bar" id="6"></div>
            <div class="bar" id="7"></div>
            <div class="bar" id="8"></div>
            <div class="bar" id="9"></div>
            <div class="bar" id="10"></div>
            </div>
        </section>
        <script type="text/javascript">
            function checkNews(){
                var s= {{ score }};
                var val = Math.floor(s*10);
                var i=1;
                if(val<5){
                    for(i=1;i<=val;i++)
                    {
                        document.getElementById(i).style.background="red";
                        document.getElementById(i).style.display="block";
                    }
                }
                else{
                    for(i=1;i<=val;i++)
                    {
                        document.getElementById(i).style.background="green";
                        document.getElementById(i).style.display="block";
                    }
                }
                for(i=val+1;i<=10;i++)
                {
                    document.getElementById(i).style.background="white";
                    document.getElementById(i).style.display="block";
                }
            }
        </script>
    </body>
</html>
